In [5]:
# Import Dependencies
import pandas as pd
import os

In [2]:
county_fips_dictionary={}
with open("State_County_FIPS.txt") as file:
    for line in file:
        (key,value) = line.strip().split("        ")
        county_fips_dictionary[int(key)] = value

    print(f"\ntext file to county_fips_dictionary complete\n")
    
    first_value = list(county_fips_dictionary.values())[0]
    first_key = list(county_fips_dictionary.keys())[0]

    print('First Value: ', first_value)
    print('First Key: ', first_key)

text file to county_fips_dictionary complete

First Value:  Alabama
First Key:  1000

In [3]:
county_fips_dictionary.values

In [7]:
#Files to load
data_to_load = os.path.join("..","Resources","Data","asecpub21csv","hhpub21.csv")

hh_df = pd.read_csv(data_to_load)
household_df = hh_df.loc[:,["HHINC","GESTFIPS","GTCO","HTOTVAL","HINTVAL"]]
household_df["State/County FIPS"] = 1000*household_df["GESTFIPS"] + household_df["GTCO"]
household_df.rename(columns={
    "HHINC":"Household Income Category",
    "GESTFIPS":"State FIPS",
    "GTCO":"County Fips",
    "HTOTVAL":"Household Income $",
    "HINTVAL":"Interest Income"
},inplace=True)
household_df = household_df[["Household Income Category","State/County FIPS","State FIPS","County Fips","Household Income $","Interest Income"]]
household_df

,Household Income Category,State/County FIPS,State FIPS,County Fips,Household Income $,Interest Income
0,11,23000,23,0,27100,0
1,41,23000,23,0,106123,5123
2,7,23000,23,0,17340,0
3,0,23000,23,0,0,0
4,0,23000,23,0,0,0
...,...,...,...,...,...,...
90754,41,15003,15,3,165015,0
90755,25,15003,15,3,60000,0
90756,9,15003,15,3,22093,1
90757,41,15003,15,3,110800,0
90758,24,15003,15,3,59803,11

In [8]:
hhi_df = household_df.loc[household_df["State/County FIPS"]==first_key]
hhi_df

,Household Income Category,State/County FIPS,State FIPS,County Fips,Household Income $,Interest Income
52470,6,1000,1,0,14335,0
52471,0,1000,1,0,0,0
52472,0,1000,1,0,0,0
52473,0,1000,1,0,0,0
52474,0,1000,1,0,0,0
...,...,...,...,...,...,...
54345,20,1000,1,0,47698,500
54346,41,1000,1,0,119221,221
54347,5,1000,1,0,10751,1
54348,11,1000,1,0,25000,0
54349,41,1000,1,0,210768,100

In [ ]:
# Create a function to return income data for a given FIPS code
def med_income(fips_code,state):


    return

In [ ]:
#