In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [4]:
# # Connect to SQLite dB
# con = sqlite3.connect('/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Water_Quality_Analysis/Database/database.sqlite3')

# # Create a cursor object
# cur = con.cursor()

# SQL query to dF
df = pd.read_csv('../../Census_Data_Cleaning/demo_and_cont_outliers_removed.csv')

# # close connection
# con.close()

In [5]:
# check shape
df.shape

(784, 36)

In [86]:
#Eliminate outliers

In [6]:
df.columns

Index(['county_FIPS', 'Geographic_Area_Name', 'County', 'GEOID',
       'Total_Population', 'White', 'Black', 'Native', 'Asian',
       'Pacific_Islander', 'Other', 'Two_or_more_Races', 'Hispanic',
       'Not_Hispanic', 'Not_White', 'pct_White', 'pct_Black', 'pct_Native',
       'pct_Asian', 'pct_Pacific_Islander', 'pct_Other', 'pct_Not_White',
       'pct_Hispanic', 'pct_Not_Hispanic', 'pct_Two_or_more_Races',
       'Simpson_Race_DI', 'Simpson_Ethnic_DI', 'Shannon_Race_DI',
       'Shannon_Ethnic_DI', 'Gini_Index', 'Num_Contaminants',
       'Sum_Population_Served', 'Sum_ContaminantFactor',
       'Min_Contaminant_Factor', 'Max_Contaminant_Factor',
       'Avg_Contaminant_Factor'],
      dtype='object')

In [7]:
county_info_df = df[['county_FIPS', 'Geographic_Area_Name', 'County', 'GEOID',
       'Total_Population']]

In [8]:
df2 = df[['Simpson_Race_DI', 'Simpson_Ethnic_DI', 'Shannon_Race_DI',
       'Shannon_Ethnic_DI', 'Gini_Index','Sum_ContaminantFactor']]

In [90]:
# # keep only relevant columns - diversity indices, gini index, Sum_ContaminantFactor
# df.drop(columns=['county_FIPS', 'Geographic_Area_Name', 'County', 'GEOID',
#        'Total_Population', 'White', 'Black', 'Native', 'Asian',
#        'Pacific_Islander', 'Other', 'Two_or_more_Races', 'Hispanic',
#        'Not_Hispanic', 'Not_White', 'pct_White', 'pct_Black', 'pct_Native',
#        'pct_Asian', 'pct_Pacific_Islander', 'pct_Other', 'pct_Not_White',
#        'pct_Hispanic', 'pct_Not_Hispanic', 'pct_Two_or_more_Races',
#         'County_FIPS', 'Num_Contaminants',
#        'Sum_Population_Served',
#        'Min_Contaminant_Factor', 'Max_Contaminant_Factor',
#        'Avg_Contaminant_Factor'], inplace=True)

In [91]:
# df2.rename(columns=
# {
#     'Simpson_Race_DI':'Simp_RDI', 
#     'Simpson_Ethnic_DI':'Simp_EDI',
#     'Shannon_Race_DI':'Shan_RDI',
#     'Shannon_Ethnic_DI':'Shan_EDI', 
#     'Gini_Index':'Gini', 
#     'Sum_ContaminantFactor':'Cont_factor'
# },
# inplace=True)

In [9]:
df2.head()

,Simpson_Race_DI,Simpson_Ethnic_DI,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index,Sum_ContaminantFactor
0,0.309413,0.217826,0.948124,0.375569,0.4428,4744
1,0.573395,0.141942,1.305087,0.271086,0.4191,4987
2,0.618709,0.197811,1.464587,0.349206,0.4607,15583
3,0.430910,0.200263,1.161943,0.352475,0.4561,5456
4,0.290288,0.237762,0.919484,0.401124,0.4287,42

In [10]:
df2.describe()

,Simpson_Race_DI,Simpson_Ethnic_DI,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index,Sum_ContaminantFactor
count,784.000000,784.000000,784.000000,784.000000,784.000000,784.000000
mean,0.267719,0.103600,0.722452,0.197683,0.441395,5851.687500
std,0.157355,0.096008,0.346594,0.137951,0.034487,5512.444632
min,0.063408,0.011866,0.202798,0.036514,0.315700,0.000000
25%,0.141233,0.039622,0.444638,0.098888,0.416200,1722.250000
50%,0.218020,0.064474,0.635658,0.146195,0.438700,4010.000000
75%,0.364704,0.130779,0.933018,0.254504,0.463100,8627.250000
max,0.768684,0.498687,1.956877,0.691654,0.550900,23778.000000

In [11]:
df2.quantile(0.25)

Simpson_Race_DI             0.141233
Simpson_Ethnic_DI           0.039622
Shannon_Race_DI             0.444638
Shannon_Ethnic_DI           0.098888
Gini_Index                  0.416200
Sum_ContaminantFactor    1722.250000
Name: 0.25, dtype: float64

In [12]:
df2[df2['Sum_ContaminantFactor'] < (df2['Sum_ContaminantFactor'].mean() - 1.5*df2['Sum_ContaminantFactor'].std())]

Empty DataFrame
Columns: [Simpson_Race_DI, Simpson_Ethnic_DI, Shannon_Race_DI, Shannon_Ethnic_DI, Gini_Index, Sum_ContaminantFactor]
Index: []

In [13]:
df2.std()

Simpson_Race_DI             0.157355
Simpson_Ethnic_DI           0.096008
Shannon_Race_DI             0.346594
Shannon_Ethnic_DI           0.137951
Gini_Index                  0.034487
Sum_ContaminantFactor    5512.444632
dtype: float64

In [14]:
priority_col = ['Contaminant_Score',
                'Simpson_Race_DI_score',
                 'Simpson_Ethnic_DI_score', 
                 'Shannon_Race_DI_score_score',
                 'Shannon_Ethnic_DI_score', 
                 'Gini_Index_score'               
               ]
priority_df = pd.DataFrame(columns=priority_col)
priority_df

Empty DataFrame
Columns: [Contaminant_Score, Simpson_Race_DI_score, Simpson_Ethnic_DI_score, Shannon_Race_DI_score_score, Shannon_Ethnic_DI_score, Gini_Index_score]
Index: []

In [15]:
cont = pd.Series(df2.Sum_ContaminantFactor)
SR_DI = pd.Series(df2.Simpson_Race_DI)
SE_DI = pd.Series(df2.Simpson_Ethnic_DI)
SHE_DI = pd.Series(df2.Shannon_Ethnic_DI)
SHR_DI = pd.Series(df2.Shannon_Race_DI)
Gini = pd.Series(df2.Gini_Index)

In [16]:
cont_mean = np.mean(cont)
SR_DI_mean = np.mean(SR_DI)
SE_DI_mean = np.mean(SE_DI)
SHE_DI_mean = np.mean(SHE_DI)
SHR_DI_mean = np.mean(SHR_DI)
Gini_mean = np.mean(Gini)

In [17]:
cont_sd = np.std(cont)
SR_DI_sd = np.std(SR_DI)
SE_DI_sd = np.std(SE_DI)
SHE_DI_sd = np.std(SHE_DI)
SHR_DI_sd = np.std(SHR_DI)
Gini_sd = np.std(Gini)

In [18]:
df3 = df2[['Sum_ContaminantFactor','Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index']]

In [19]:
df3.columns

Index(['Sum_ContaminantFactor', 'Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index'],
      dtype='object')

### use np.where() twice in succession to create scores

In [20]:
# lower cutoff = mean - standard deviation
Sum_ContaminantFactor_score = np.where(df3.Sum_ContaminantFactor >= (cont_mean - cont_sd), 1, 0)
Simpson_Ethnic_DI_score = np.where(df3.Simpson_Ethnic_DI >= (SE_DI_mean - SE_DI_mean), 1, 0)
Simpson_Race_DI_score = np.where(df3.Simpson_Race_DI >= (SR_DI_mean - SR_DI_sd), 1, 0)
Shannon_Race_DI_score = np.where(df3.Shannon_Race_DI >= (SHR_DI_mean - SHR_DI_sd), 1, 0)
Shannon_Ethnic_DI_score = np.where(df3.Shannon_Ethnic_DI >= (SHE_DI_mean - SHE_DI_sd), 1, 0)
Gini_Index_score = np.where(df3.Gini_Index >= (Gini_mean - 1.5*Gini_sd), 1, 0)

In [21]:
# higher cutoff = mean + 1.5 * standard deviation score = 2, else CURRENT SCORE.
Sum_ContaminantFactor_score = np.where(df3.Sum_ContaminantFactor >= (cont_mean + 1.5*cont_sd), 2, Sum_ContaminantFactor_score)
Simpson_Ethnic_DI_score = np.where(df3.Simpson_Ethnic_DI >= (SE_DI_mean + 1.5*SE_DI_mean), 2, Simpson_Ethnic_DI_score)
Simpson_Race_DI_score = np.where(df3.Simpson_Race_DI >= (SR_DI_mean + 1.5*SR_DI_sd), 2, Simpson_Race_DI_score)
Shannon_Race_DI_score = np.where(df3.Shannon_Race_DI >= (SHR_DI_mean + 1.5*SHR_DI_sd), 2, Shannon_Race_DI_score)
Shannon_Ethnic_DI_score = np.where(df3.Shannon_Ethnic_DI >= (SHE_DI_mean + 1.5*SHE_DI_sd), 2, Shannon_Ethnic_DI_score)
Gini_Index_score = np.where(df3.Gini_Index >= (Gini_mean + 1.5*Gini_sd), 2, Gini_Index_score)

In [22]:
priority_df.Contaminant_Score = Sum_ContaminantFactor_score
priority_df.Simpson_Ethnic_DI_score = Simpson_Ethnic_DI_score
priority_df.Simpson_Race_DI_score = Simpson_Race_DI_score
priority_df.Shannon_Ethnic_DI_score = Shannon_Ethnic_DI_score
priority_df.Shannon_Race_DI_score_score = Shannon_Race_DI_score
priority_df.Gini_Index_score = Gini_Index_score

In [23]:
priority_df

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score
0,1,1,1,1,1,1
1,1,2,1,2,1,1
2,2,2,1,2,1,1
3,1,1,1,1,1,1
4,0,1,1,1,1,1
...,...,...,...,...,...,...
779,1,2,2,2,2,1
780,1,2,2,2,2,1
781,1,2,2,2,2,1
782,1,2,2,2,2,1
783,0,2,2,2,2,1

In [24]:
priority_df['Total'] = priority_df.sum(axis=1)

In [25]:
priority_df

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score,Total
0,1,1,1,1,1,1,6
1,1,2,1,2,1,1,8
2,2,2,1,2,1,1,9
3,1,1,1,1,1,1,6
4,0,1,1,1,1,1,5
...,...,...,...,...,...,...,...
779,1,2,2,2,2,1,10
780,1,2,2,2,2,1,10
781,1,2,2,2,2,1,10
782,1,2,2,2,2,1,10
783,0,2,2,2,2,1,9

In [26]:
priority_df.Total.value_counts()

6     432
7     107
5      75
4      50
8      34
10     31
3      25
9      16
11     13
2       1
Name: Total, dtype: int64

In [27]:
# use np.where() twice again with priority level to assign priority level
priority_level = np.where(priority_df.Total >= 6, 1, 0)
priority_level = np.where(priority_df.Total >= 7, 2, priority_level)

In [28]:
priority_df["Priority"] = priority_level

In [29]:
priority_df.sample(n=20)

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score,Total,Priority
758,1,0,1,0,1,2,5,0
606,1,1,1,1,1,1,6,1
98,1,2,1,1,1,1,7,2
318,1,1,1,1,1,1,6,1
21,1,1,1,1,1,1,6,1
403,1,1,1,1,1,0,5,0
484,1,1,1,1,1,1,6,1
342,1,1,1,1,1,1,6,1
652,1,1,1,1,1,1,6,1
487,1,1,1,1,1,1,6,1
559,1,1,1,1,1,2,7,2
150,1,1,2,1,2,1,8,2
427,1,1,1,1,1,1,6,1
453,1,1,1,1,1,1,6,1
444,1,1,1,1,1,1,6,1
425,1,1,2,1,2,1,8,2
640,1,1,1,1,1,1,6,1
437,1,1,1,1,1,1,6,1
387,1,1,1,0,1,1,5,0
62,1,1,1,1,1,1,6,1

In [30]:
priority_df['Priority'].value_counts()

1    432
2    201
0    151
Name: Priority, dtype: int64

In [31]:
df['Priority'] = priority_level

In [33]:
priority_df.to_csv('data_with_ternary_priority_no_outliers.csv', index = False)