In [3]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [4]:
db = r'/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Water_Quality_Analysis/Database/database.sqlite3'

In [5]:
# Connect to SQLite database
conn = sqlite3.connect(db)
  
# Create cursor object
cursor = conn.cursor()

In [6]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
print(cursor.fetchall())

[('FIPS_Codes',), ('Utilities',), ('all_contaminants',), ('Contaminant_Summary',), ('Census_Data',)]

In [7]:
#join the df's
df = pd.read_sql_query("SELECT * FROM Census_Data INNER JOIN Contaminant_Summary on Census_Data.county_FIPS = Contaminant_Summary.county_FIPS",conn)

In [8]:
df.sample(20)

,county_FIPS,Geographic_Area_Name,County,GEOID,Total_Population,White,Black,Native,Asian,Pacific_Islander,...,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index,County_FIPS,Num_Contaminants,Sum_Population_Served,Sum_ContaminantFactor,Min_Contaminant_Factor,Max_Contaminant_Factor,Avg_Contaminant_Factor
613,29103,"Knox County, Missouri",Knox County,0500000US29103,3744,3573,21,9,19,1,...,0.276610,0.037408,0.4945,29103,2,5451,2984,1483,1501,1492.00
132,47147,"Robertson County, Tennessee",Robertson County,0500000US47147,72803,58467,5169,336,461,22,...,0.973247,0.312769,0.4170,47147,6,251948,6365,157,1456,1060.83
529,26069,"Iosco County, Michigan",Iosco County,0500000US26069,25237,23459,172,138,170,8,...,0.431029,0.113855,0.4040,26069,7,19055,5827,1004,886,832.43
566,26147,"St. Clair County, Michigan",St. Clair County,0500000US26147,160383,144476,3938,702,827,17,...,0.557057,0.149466,0.4369,26147,20,133786,14821,1008,980,741.05
767,42047,"Elk County, Pennsylvania",Elk County,0500000US42047,30990,29555,81,23,114,13,...,0.271860,0.053630,0.4112,42047,9,38204,7936,1206,917,881.78
322,1013,"Butler County, Alabama",Butler County,0500000US01013,19051,9752,8431,30,144,6,...,0.948021,0.072159,0.4667,1013,13,41061,3315,1059,97,255.00
65,45063,"Lexington County, South Carolina",Lexington County,0500000US45063,293991,212701,42925,1474,6693,211,...,1.125141,0.264223,0.4382,45063,7,42727,7781,136,1997,1111.57
293,55127,"Walworth County, Wisconsin",Walworth County,0500000US55127,106478,90957,1224,480,1017,16,...,0.842767,0.362649,0.4326,55127,22,61692,11077,29,2261,503.50
631,29141,"Morgan County, Missouri",Morgan County,0500000US29141,21006,19497,127,117,62,9,...,0.417250,0.102796,0.5130,29141,19,16274,1057,0,9,55.63
506,26021,"Berrien County, Michigan",Berrien County,0500000US26021,154316,113608,21421,944,3190,121,...,1.069941,0.226094,0.4763,26021,15,40655,12003,1005,87,800.20
361,17013,"Calhoun County, Illinois",Calhoun County,0500000US17013,4437,4227,8,11,8,1,...,0.295664,0.075461,0.4069,17013,10,18411,6164,1523,8,616.40
796,42105,"Potter County, Pennsylvania",Potter County,0500000US42105,16396,15608,44,26,75,1,...,0.304369,0.078153,0.4268,42105,22,17433,8069,0,871,366.77
650,29189,"St. Louis County, Missouri",St. Louis County,0500000US29189,1004125,632283,246643,2377,48785,296,...,1.152190,0.158372,0.4921,29189,3,16444,1287,1015,98,429.00
308,56025,"Natrona County, Wyoming",Natrona County,0500000US56025,79955,69319,792,1054,650,93,...,0.778561,0.301757,0.4351,56025,20,72571,12144,31,2188,607.20
852,6019,"Fresno County, California",Fresno County,0500000US06019,1008654,374678,48708,22044,113329,1666,...,1.840127,0.690538,0.4776,6019,95,800524,124555,0,996,1311.11
705,30097,"Sweet Grass County, Montana",Sweet Grass County,0500000US30097,3678,3375,9,26,16,5,...,0.463531,0.122879,0.3823,30097,4,1782,1389,2,869,347.25
319,1005,"Barbour County, Alabama",Barbour County,0500000US01005,25223,11317,11934,117,118,2,...,1.164057,0.226599,0.5047,1005,3,56649,1414,1132,144,471.33
763,42039,"Crawford County, Pennsylvania",Crawford County,0500000US42039,83938,77804,1531,125,375,27,...,0.407945,0.076980,0.4242,42039,35,112108,20278,107,984,579.37
270,55073,"Marathon County, Wisconsin",Marathon County,0500000US55073,138013,119902,1193,649,8497,37,...,0.665564,0.142530,0.4317,55073,16,77539,7324,26,994,457.75
726,41031,"Jefferson County, Oregon",Jefferson County,0500000US41031,24502,15992,146,3324,150,25,...,1.401538,0.506097,0.4619,41031,3,18540,3028,1815,708,1009.33

In [9]:
df.shape

(882, 37)

In [10]:
df.describe()

,county_FIPS,Total_Population,White,Black,Native,Asian,Pacific_Islander,Other,Two_or_more_Races,Hispanic,...,pct_Two_or_more_Races,Simpson_Race_DI,Simpson_Ethnic_DI,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index,Num_Contaminants,Sum_Population_Served,Sum_ContaminantFactor,Avg_Contaminant_Factor
count,882.000000,8.820000e+02,8.820000e+02,8.820000e+02,882.000000,8.820000e+02,882.000000,8.820000e+02,8.820000e+02,8.820000e+02,...,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,8.820000e+02,8.820000e+02,882.000000
mean,34216.615646,1.395653e+05,8.338217e+04,1.460549e+04,1502.502268,1.062759e+04,282.706349,1.494588e+04,1.422498e+04,2.995920e+04,...,0.061026,0.280229,0.113581,0.753765,0.211073,0.441717,10.758503,8.711697e+04,1.175539e+04,935.660215
std,15322.693185,5.038503e+05,2.057142e+05,7.359074e+04,7127.251881,7.185546e+04,1651.363024,1.124154e+05,7.137211e+04,2.060264e+05,...,0.029338,0.166876,0.108514,0.373162,0.152220,0.033689,12.639396,3.843995e+05,7.711364e+04,3060.903090
min,1001.000000,7.060000e+02,4.010000e+02,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000e+00,2.000000e+01,8.000000e+00,...,0.018930,0.063408,0.011866,0.202798,0.036514,0.315700,1.000000,2.700000e+01,0.000000e+00,0.000000
25%,26007.500000,1.247950e+04,1.049000e+04,6.800000e+01,64.000000,4.500000e+01,4.000000,1.002500e+02,5.730000e+02,2.962500e+02,...,0.042034,0.146299,0.040314,0.457942,0.100287,0.417125,4.000000,4.725250e+03,1.966500e+03,365.767500
50%,38034.000000,3.105100e+04,2.630650e+04,5.795000e+02,186.000000,1.620000e+02,12.000000,4.350000e+02,1.603500e+03,1.091500e+03,...,0.054247,0.226679,0.069034,0.669062,0.154340,0.439450,7.000000,1.545300e+04,4.770000e+03,701.010000
75%,47160.500000,8.803400e+04,7.166950e+04,4.448750e+03,719.750000,9.977500e+02,52.000000,2.177500e+03,5.622000e+03,5.601500e+03,...,0.071544,0.384804,0.142876,0.980501,0.272424,0.463475,14.000000,4.685075e+04,1.104950e+04,1144.755000
max,56045.000000,1.001401e+07,3.259427e+06,1.205825e+06,163465.000000,1.499985e+06,24523.000000,2.784181e+06,1.488069e+06,4.804763e+06,...,0.277103,0.768684,0.499984,1.956877,0.693131,0.550900,154.000000,7.822450e+06,2.215481e+06,88619.240000

In [11]:
df.columns

Index(['county_FIPS', 'Geographic_Area_Name', 'County', 'GEOID',
       'Total_Population', 'White', 'Black', 'Native', 'Asian',
       'Pacific_Islander', 'Other', 'Two_or_more_Races', 'Hispanic',
       'Not_Hispanic', 'Not_White', 'pct_White', 'pct_Black', 'pct_Native',
       'pct_Asian', 'pct_Pacific_Islander', 'pct_Other', 'pct_Not_White',
       'pct_Hispanic', 'pct_Not_Hispanic', 'pct_Two_or_more_Races',
       'Simpson_Race_DI', 'Simpson_Ethnic_DI', 'Shannon_Race_DI',
       'Shannon_Ethnic_DI', 'Gini_Index', 'County_FIPS', 'Num_Contaminants',
       'Sum_Population_Served', 'Sum_ContaminantFactor',
       'Min_Contaminant_Factor', 'Max_Contaminant_Factor',
       'Avg_Contaminant_Factor'],
      dtype='object')

In [12]:
df2 = df[['Num_Contaminants', 'Sum_Population_Served',
            'Sum_ContaminantFactor', 'Min_Contaminant_Factor',
            'Max_Contaminant_Factor', 'Avg_Contaminant_Factor',
            'Simpson_Ethnic_DI', 'Simpson_Race_DI',
            'Shannon_Race_DI', 'Shannon_Ethnic_DI','Gini_Index'
           ]]

In [13]:
df2

,Num_Contaminants,Sum_Population_Served,Sum_ContaminantFactor,Min_Contaminant_Factor,Max_Contaminant_Factor,Avg_Contaminant_Factor,Simpson_Ethnic_DI,Simpson_Race_DI,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index
0,4,264021,4744,984,1519,1186.00,0.217826,0.309413,0.948124,0.375569,0.4428
1,9,70580,4987,201,1395,554.11,0.141942,0.573395,1.305087,0.271086,0.4191
2,20,555453,15583,68,4732,779.15,0.197811,0.618709,1.464587,0.349206,0.4607
3,11,205901,5456,91,1295,496.00,0.200263,0.430910,1.161943,0.352475,0.4561
4,1,2982,42,42,42,42.00,0.237762,0.290288,0.919484,0.401124,0.4287
...,...,...,...,...,...,...,...,...,...,...,...
877,2,500,1188,377,811,594.00,0.453882,0.589002,1.532958,0.646291,0.4728
878,1,100147,1104,1104,1104,1104.00,0.405472,0.761847,1.949749,0.595389,0.4147
879,1,495,20,20,20,20.00,0.411229,0.561896,1.510993,0.601542,0.4512
880,84,238210,58802,0,97,700.02,0.451947,0.687672,1.597896,0.644292,0.4602
881,51,390674,38837,1005,876,761.51,0.490991,0.663535,1.687385,0.684110,0.4465

In [14]:
df2.columns

Index(['Num_Contaminants', 'Sum_Population_Served', 'Sum_ContaminantFactor',
       'Min_Contaminant_Factor', 'Max_Contaminant_Factor',
       'Avg_Contaminant_Factor', 'Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index'],
      dtype='object')

In [15]:
priority_col = ['Contaminant_Score',
                'Simpson_Race_DI_score',
                 'Simpson_Ethnic_DI_score', 
                 'Shannon_Race_DI_score_score',
                 'Shannon_Ethnic_DI_score', 
                 'Gini_Index_score'               
               ]
priority_df = pd.DataFrame(columns=priority_col)
priority_df

Empty DataFrame
Columns: [Contaminant_Score, Simpson_Race_DI_score, Simpson_Ethnic_DI_score, Shannon_Race_DI_score_score, Shannon_Ethnic_DI_score, Gini_Index_score]
Index: []

In [16]:
cont = pd.Series(df2.Sum_ContaminantFactor)
SR_DI = pd.Series(df2.Simpson_Race_DI)
SE_DI = pd.Series(df2.Simpson_Ethnic_DI)
SHE_DI = pd.Series(df2.Shannon_Ethnic_DI)
SHR_DI = pd.Series(df2.Shannon_Race_DI)
Gini = pd.Series(df2.Gini_Index)

In [17]:
cont_mean = np.mean(cont)
cont_median = np.median(cont)
SR_DI_mean = np.mean(SR_DI)
SE_DI_mean = np.mean(SE_DI)
SHE_DI_mean = np.mean(SHE_DI)
SHR_DI_mean = np.mean(SHR_DI)
Gini_mean = np.mean(Gini)

In [18]:
df3 = df2[['Sum_ContaminantFactor','Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index']]

In [19]:
df3.columns

Index(['Sum_ContaminantFactor', 'Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index'],
      dtype='object')

In [20]:
Sum_ContaminantFactor_score = np.where(df3.Sum_ContaminantFactor >= cont_median, 1, 0)
Simpson_Ethnic_DI_score = np.where(df3.Simpson_Ethnic_DI >= SE_DI_mean, 1, 0)
Simpson_Race_DI_score = np.where(df3.Simpson_Race_DI >= SR_DI_mean, 1, 0)
Shannon_Race_DI_score = np.where(df3.Shannon_Race_DI >= SHR_DI_mean, 1, 0)
Shannon_Ethnic_DI_score = np.where(df3.Shannon_Ethnic_DI >= SHE_DI_mean, 1, 0)
Gini_Index_score = np.where(df3.Gini_Index >= 0.5, 1, 0)

In [21]:
priority_df.Contaminant_Score = Sum_ContaminantFactor_score
priority_df.Simpson_Ethnic_DI_score = Simpson_Ethnic_DI_score
priority_df.Simpson_Race_DI_score = Simpson_Race_DI_score
priority_df.Shannon_Ethnic_DI_score = Shannon_Ethnic_DI_score
priority_df.Shannon_Race_DI_score_score = Shannon_Race_DI_score
priority_df.Gini_Index_score = Gini_Index_score

In [22]:
priority_df

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score
0,0,1,1,1,1,0
1,1,1,1,1,1,0
2,1,1,1,1,1,0
3,1,1,1,1,1,0
4,0,1,1,1,1,0
...,...,...,...,...,...,...
877,0,1,1,1,1,0
878,0,1,1,1,1,0
879,0,1,1,1,1,0
880,1,1,1,1,1,0
881,1,1,1,1,1,0

In [23]:
priority_df['Total'] = priority_df.sum(axis=1)

In [24]:
priority_df

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score,Total
0,0,1,1,1,1,0,4
1,1,1,1,1,1,0,5
2,1,1,1,1,1,0,5
3,1,1,1,1,1,0,5
4,0,1,1,1,1,0,4
...,...,...,...,...,...,...,...
877,0,1,1,1,1,0,4
878,0,1,1,1,1,0,4
879,0,1,1,1,1,0,4
880,1,1,1,1,1,0,5
881,1,1,1,1,1,0,5

In [25]:
priority_df.Total.value_counts()

0    240
1    217
5    150
4     95
2     89
3     88
6      3
Name: Total, dtype: int64

In [26]:
priority_level = np.where(priority_df.Total >= 4, 1, 0)

In [27]:
priority_df['Priority'] = priority_level

In [28]:
conditions = [
    (priority_df['Contaminant_Score'] == 1) & (priority_df['Priority'] == 1),
    (priority_df['Contaminant_Score'] == 0) & (priority_df['Priority'] == 1)
    
]

values = [1 , 0]

In [29]:
priority_df['New_Priority'] = np.select(conditions, values)

In [30]:
priority_df.sample(30)

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score,Total,Priority,New_Priority
5,0,0,0,0,0,0,0,0,0
166,0,1,1,1,1,0,4,1,0
839,1,0,0,0,0,0,1,0,0
709,0,0,0,0,0,0,0,0,0
352,0,1,0,1,0,0,2,0,0
773,1,0,0,0,0,0,1,0,0
722,0,0,0,0,0,0,0,0,0
507,0,1,0,1,1,0,3,0,0
242,0,0,0,0,0,0,0,0,0
610,1,0,0,0,0,0,1,0,0
745,1,0,1,0,1,0,3,0,0
25,0,1,0,1,0,1,3,0,0
554,0,0,0,0,1,0,1,0,0
297,0,0,0,0,0,0,0,0,0
426,1,1,0,1,0,0,3,0,0
591,0,0,0,0,0,1,1,0,0
663,0,0,0,0,0,0,0,0,0
758,1,1,1,1,1,0,5,1,1
197,0,1,1,1,1,0,4,1,0
504,1,0,0,0,1,0,2,0,0
160,1,1,1,1,1,0,5,1,1
171,0,1,1,1,1,0,4,1,0
340,0,0,0,0,0,0,0,0,0
677,0,0,0,0,0,0,0,0,0
881,1,1,1,1,1,0,5,1,1
173,0,0,1,1,1,1,4,1,0
393,0,1,0,1,0,0,2,0,0
657,1,0,0,0,0,0,1,0,0
163,1,1,1,1,1,0,5,1,1
484,1,0,0,0,1,0,2,0,0

In [31]:
priority_df.Priority.value_counts()

0    634
1    248
Name: Priority, dtype: int64

In [32]:
priority_df.New_Priority.value_counts()

0    711
1    171
Name: New_Priority, dtype: int64

In [33]:
df['Priority'] = priority_df['New_Priority']

In [35]:
priority_df.head()

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score,Total,Priority,New_Priority
0,0,1,1,1,1,0,4,1,0
1,1,1,1,1,1,0,5,1,1
2,1,1,1,1,1,0,5,1,1
3,1,1,1,1,1,0,5,1,1
4,0,1,1,1,1,0,4,1,0

In [34]:
df.head()

,county_FIPS,Geographic_Area_Name,County,GEOID,Total_Population,White,Black,Native,Asian,Pacific_Islander,...,Shannon_Ethnic_DI,Gini_Index,County_FIPS,Num_Contaminants,Sum_Population_Served,Sum_ContaminantFactor,Min_Contaminant_Factor,Max_Contaminant_Factor,Avg_Contaminant_Factor,Priority
0,8069,"Larimer County, Colorado",Larimer County,0500000US08069,359066,295995,3816,2879,8539,326,...,0.375569,0.4428,8069,4,264021,4744,984,1519,1186.00,0
1,10001,"Kent County, Delaware",Kent County,0500000US10001,181851,107685,46999,1150,4430,126,...,0.271086,0.4191,10001,9,70580,4987,201,1395,554.11,1
2,10003,"New Castle County, Delaware",New Castle County,0500000US10003,570719,314231,146545,2157,35201,176,...,0.349206,0.4607,10003,20,555453,15583,68,4732,779.15,1
3,10005,"Sussex County, Delaware",Sussex County,0500000US10005,237378,175847,25358,1844,3071,113,...,0.352475,0.4561,10005,11,205901,5456,91,1295,496.00,1
4,16019,"Bonneville County, Idaho",Bonneville County,0500000US16019,123964,103736,627,1262,1424,155,...,0.401124,0.4287,16019,1,2982,42,42,42,42.00,0

In [36]:
df.to_csv("new_priority_with_fips.csv")

In [38]:
# priority_df.New_Priority.to_csv('new_priority.csv')