In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
db = r'C:/Users/jonat/UO_Bootcamp/Group_project/git_Water_Quality_Analysis/Water_Quality_Analysis/Database/database.sqlite3'

In [3]:
# Connect to SQLite database
conn = sqlite3.connect(db)
  
# Create cursor object
cursor = conn.cursor()

In [4]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
print(cursor.fetchall())

[('FIPS_Codes',), ('Utilities',), ('all_contaminants',), ('Contaminant_Summary',), ('Census_Data',)]

In [5]:
#join the df's
df = pd.read_sql_query("SELECT * FROM Census_Data INNER JOIN Contaminant_Summary on Census_Data.county_FIPS = Contaminant_Summary.county_FIPS",conn)

In [6]:
df.sample(20)

,county_FIPS,Geographic_Area_Name,County,GEOID,Total_Population,White,Black,Native,Asian,Pacific_Islander,...,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index,County_FIPS,Num_Contaminants,Sum_Population_Served,Sum_ContaminantFactor,Min_Contaminant_Factor,Max_Contaminant_Factor,Avg_Contaminant_Factor
647,29185,"St. Clair County, Missouri",St. Clair County,0500000US29185,9284,8643,27,68,22,10,...,0.400051,0.094802,0.4195,29185,3,140085,1106,0,78,368.67
194,48439,"Tarrant County, Texas",Tarrant County,0500000US48439,2110640,1044549,366728,18691,129438,4552,...,1.766968,0.605852,0.4519,48439,47,328357,26107,13,3097,555.47
868,6067,"Sacramento County, California",Sacramento County,0500000US06067,1585055,715722,152796,18638,281734,18915,...,1.857505,0.546693,0.4496,6067,2,124168,2490,1901,589,1245.00
154,48159,"Franklin County, Texas",Franklin County,0500000US48159,10359,8138,400,78,69,7,...,1.070569,0.405793,0.4436,48159,2,19966,5410,2225,3185,2705.00
126,47107,"McMinn County, Tennessee",McMinn County,0500000US47107,53276,46564,1871,183,431,23,...,0.669065,0.169727,0.4582,47107,6,25837,3659,158,1318,609.83
319,1005,"Barbour County, Alabama",Barbour County,0500000US01005,25223,11317,11934,117,118,2,...,1.164057,0.226599,0.5047,1005,3,56649,1414,1132,144,471.33
806,42125,"Washington County, Pennsylvania",Washington County,0500000US42125,209349,188060,6959,302,2014,65,...,0.527002,0.094937,0.4488,42125,7,64238,10881,1441,4,1554.43
458,20045,"Douglas County, Kansas",Douglas County,0500000US20045,118785,92694,5302,2951,4686,87,...,1.040195,0.253204,0.4628,20045,8,148983,22227,1159,694,2778.38
99,46083,"Lincoln County, South Dakota",Lincoln County,0500000US46083,65161,58994,1133,484,1002,11,...,0.540530,0.119705,0.4158,46083,15,39339,9063,130,1355,604.20
635,29151,"Osage County, Missouri",Osage County,0500000US29151,13274,12745,25,31,4,11,...,0.241396,0.053305,0.4848,29151,5,1418,608,1,329,121.60
155,48161,"Freestone County, Texas",Freestone County,0500000US48161,19435,13337,2766,147,74,15,...,1.294046,0.443523,0.4527,48161,8,4318,2687,150,509,335.88
728,41035,"Klamath County, Oregon",Klamath County,0500000US41035,69413,54494,563,2999,787,123,...,1.069617,0.379435,0.4507,41035,21,47261,7375,0,8,351.19
764,42041,"Cumberland County, Pennsylvania",Cumberland County,0500000US42041,259469,214921,11082,514,13912,127,...,0.837807,0.187025,0.4235,42041,26,60709,6383,129,9,245.50
854,6025,"Imperial County, California",Imperial County,0500000US06025,179702,47537,4363,4267,3050,166,...,1.466031,0.419994,0.4674,6025,23,379418,32617,0,985,1418.13
193,48425,"Somervell County, Texas",Somervell County,0500000US48425,9205,7373,46,79,59,1,...,1.010821,0.476316,0.4326,48425,3,2753,2247,1,1469,749.00
201,48485,"Wichita County, Texas",Wichita County,0500000US48485,129350,86718,13888,1444,2748,182,...,1.413668,0.499684,0.4590,48485,1,100,1750,1750,1750,1750.00
372,17037,"DeKalb County, Illinois",DeKalb County,0500000US17037,100420,74258,8955,554,2300,30,...,1.200429,0.396527,0.4369,17037,23,160819,14579,1125,922,633.87
572,26159,"Van Buren County, Michigan",Van Buren County,0500000US26159,75587,61345,2429,820,387,41,...,0.983014,0.364163,0.4330,26159,23,33447,13741,1087,96,597.43
679,30031,"Gallatin County, Montana",Gallatin County,0500000US30031,118960,105886,527,1044,1414,100,...,0.628945,0.197201,0.4622,30031,1,750,89,89,89,89.00
608,29089,"Howard County, Missouri",Howard County,0500000US29089,10151,8931,543,38,28,4,...,0.585906,0.099942,0.4130,29089,6,8215,9694,1120,2178,1615.67

In [7]:
df.shape

(882, 37)

In [8]:
df.describe()

,county_FIPS,Total_Population,White,Black,Native,Asian,Pacific_Islander,Other,Two_or_more_Races,Hispanic,...,pct_Two_or_more_Races,Simpson_Race_DI,Simpson_Ethnic_DI,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index,Num_Contaminants,Sum_Population_Served,Sum_ContaminantFactor,Avg_Contaminant_Factor
count,882.000000,8.820000e+02,8.820000e+02,8.820000e+02,882.000000,8.820000e+02,882.000000,8.820000e+02,8.820000e+02,8.820000e+02,...,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,8.820000e+02,8.820000e+02,882.000000
mean,34216.615646,1.395653e+05,8.338217e+04,1.460549e+04,1502.502268,1.062759e+04,282.706349,1.494588e+04,1.422498e+04,2.995920e+04,...,0.061026,0.280229,0.113581,0.753765,0.211073,0.441717,10.758503,8.711697e+04,1.175539e+04,935.660215
std,15322.693185,5.038503e+05,2.057142e+05,7.359074e+04,7127.251881,7.185546e+04,1651.363024,1.124154e+05,7.137211e+04,2.060264e+05,...,0.029338,0.166876,0.108514,0.373162,0.152220,0.033689,12.639396,3.843995e+05,7.711364e+04,3060.903090
min,1001.000000,7.060000e+02,4.010000e+02,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000e+00,2.000000e+01,8.000000e+00,...,0.018930,0.063408,0.011866,0.202798,0.036514,0.315700,1.000000,2.700000e+01,0.000000e+00,0.000000
25%,26007.500000,1.247950e+04,1.049000e+04,6.800000e+01,64.000000,4.500000e+01,4.000000,1.002500e+02,5.730000e+02,2.962500e+02,...,0.042034,0.146299,0.040314,0.457942,0.100287,0.417125,4.000000,4.725250e+03,1.966500e+03,365.767500
50%,38034.000000,3.105100e+04,2.630650e+04,5.795000e+02,186.000000,1.620000e+02,12.000000,4.350000e+02,1.603500e+03,1.091500e+03,...,0.054247,0.226679,0.069034,0.669062,0.154340,0.439450,7.000000,1.545300e+04,4.770000e+03,701.010000
75%,47160.500000,8.803400e+04,7.166950e+04,4.448750e+03,719.750000,9.977500e+02,52.000000,2.177500e+03,5.622000e+03,5.601500e+03,...,0.071544,0.384804,0.142876,0.980501,0.272424,0.463475,14.000000,4.685075e+04,1.104950e+04,1144.755000
max,56045.000000,1.001401e+07,3.259427e+06,1.205825e+06,163465.000000,1.499985e+06,24523.000000,2.784181e+06,1.488069e+06,4.804763e+06,...,0.277103,0.768684,0.499984,1.956877,0.693131,0.550900,154.000000,7.822450e+06,2.215481e+06,88619.240000

In [9]:
df.columns

Index(['county_FIPS', 'Geographic_Area_Name', 'County', 'GEOID',
       'Total_Population', 'White', 'Black', 'Native', 'Asian',
       'Pacific_Islander', 'Other', 'Two_or_more_Races', 'Hispanic',
       'Not_Hispanic', 'Not_White', 'pct_White', 'pct_Black', 'pct_Native',
       'pct_Asian', 'pct_Pacific_Islander', 'pct_Other', 'pct_Not_White',
       'pct_Hispanic', 'pct_Not_Hispanic', 'pct_Two_or_more_Races',
       'Simpson_Race_DI', 'Simpson_Ethnic_DI', 'Shannon_Race_DI',
       'Shannon_Ethnic_DI', 'Gini_Index', 'County_FIPS', 'Num_Contaminants',
       'Sum_Population_Served', 'Sum_ContaminantFactor',
       'Min_Contaminant_Factor', 'Max_Contaminant_Factor',
       'Avg_Contaminant_Factor'],
      dtype='object')

In [10]:
df2 = df[['Num_Contaminants', 'Sum_Population_Served',
            'Sum_ContaminantFactor', 'Min_Contaminant_Factor',
            'Max_Contaminant_Factor', 'Avg_Contaminant_Factor',
            'Simpson_Ethnic_DI', 'Simpson_Race_DI',
            'Shannon_Race_DI', 'Shannon_Ethnic_DI','Gini_Index'
           ]]

In [11]:
df2

,Num_Contaminants,Sum_Population_Served,Sum_ContaminantFactor,Min_Contaminant_Factor,Max_Contaminant_Factor,Avg_Contaminant_Factor,Simpson_Ethnic_DI,Simpson_Race_DI,Shannon_Race_DI,Shannon_Ethnic_DI,Gini_Index
0,4,264021,4744,984,1519,1186.00,0.217826,0.309413,0.948124,0.375569,0.4428
1,9,70580,4987,201,1395,554.11,0.141942,0.573395,1.305087,0.271086,0.4191
2,20,555453,15583,68,4732,779.15,0.197811,0.618709,1.464587,0.349206,0.4607
3,11,205901,5456,91,1295,496.00,0.200263,0.430910,1.161943,0.352475,0.4561
4,1,2982,42,42,42,42.00,0.237762,0.290288,0.919484,0.401124,0.4287
...,...,...,...,...,...,...,...,...,...,...,...
877,2,500,1188,377,811,594.00,0.453882,0.589002,1.532958,0.646291,0.4728
878,1,100147,1104,1104,1104,1104.00,0.405472,0.761847,1.949749,0.595389,0.4147
879,1,495,20,20,20,20.00,0.411229,0.561896,1.510993,0.601542,0.4512
880,84,238210,58802,0,97,700.02,0.451947,0.687672,1.597896,0.644292,0.4602
881,51,390674,38837,1005,876,761.51,0.490991,0.663535,1.687385,0.684110,0.4465

In [12]:
df2.columns

Index(['Num_Contaminants', 'Sum_Population_Served', 'Sum_ContaminantFactor',
       'Min_Contaminant_Factor', 'Max_Contaminant_Factor',
       'Avg_Contaminant_Factor', 'Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index'],
      dtype='object')

In [13]:
priority_col = ['Contaminant_Score',
                'Simpson_Race_DI_score',
                 'Simpson_Ethnic_DI_score', 
                 'Shannon_Race_DI_score_score',
                 'Shannon_Ethnic_DI_score', 
                 'Gini_Index_score'               
               ]
priority_df = pd.DataFrame(columns=priority_col)
priority_df

Empty DataFrame
Columns: [Contaminant_Score, Simpson_Race_DI_score, Simpson_Ethnic_DI_score, Shannon_Race_DI_score_score, Shannon_Ethnic_DI_score, Gini_Index_score]
Index: []

In [14]:
cont = pd.Series(df2.Sum_ContaminantFactor)
SR_DI = pd.Series(df2.Simpson_Race_DI)
SE_DI = pd.Series(df2.Simpson_Ethnic_DI)
SHE_DI = pd.Series(df2.Shannon_Ethnic_DI)
SHR_DI = pd.Series(df2.Shannon_Race_DI)
Gini = pd.Series(df2.Gini_Index)

In [18]:
cont_mean = np.mean(cont)
cont_median = np.median(cont)
SR_DI_mean = np.mean(SR_DI)
SE_DI_mean = np.mean(SE_DI)
SHE_DI_mean = np.mean(SHE_DI)
SHR_DI_mean = np.mean(SHR_DI)
Gini_mean = np.mean(Gini)

In [16]:
df3 = df2[['Sum_ContaminantFactor','Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index']]

In [17]:
df3.columns

Index(['Sum_ContaminantFactor', 'Simpson_Ethnic_DI', 'Simpson_Race_DI',
       'Shannon_Race_DI', 'Shannon_Ethnic_DI', 'Gini_Index'],
      dtype='object')

In [19]:
Sum_ContaminantFactor_score = np.where(df3.Sum_ContaminantFactor >= cont_median, 1, 0)
Simpson_Ethnic_DI_score = np.where(df3.Simpson_Ethnic_DI >= SE_DI_mean, 1, 0)
Simpson_Race_DI_score = np.where(df3.Simpson_Race_DI >= SR_DI_mean, 1, 0)
Shannon_Race_DI_score = np.where(df3.Shannon_Race_DI >= SHR_DI_mean, 1, 0)
Shannon_Ethnic_DI_score = np.where(df3.Shannon_Ethnic_DI >= SHE_DI_mean, 1, 0)
Gini_Index_score = np.where(df3.Gini_Index >= 0.5, 1, 0)

In [20]:
priority_df.Contaminant_Score = Sum_ContaminantFactor_score
priority_df.Simpson_Ethnic_DI_score = Simpson_Ethnic_DI_score
priority_df.Simpson_Race_DI_score = Simpson_Race_DI_score
priority_df.Shannon_Ethnic_DI_score = Shannon_Ethnic_DI_score
priority_df.Shannon_Race_DI_score_score = Shannon_Race_DI_score
priority_df.Gini_Index_score = Gini_Index_score

In [21]:
priority_df

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score
0,0,1,1,1,1,0
1,1,1,1,1,1,0
2,1,1,1,1,1,0
3,1,1,1,1,1,0
4,0,1,1,1,1,0
...,...,...,...,...,...,...
877,0,1,1,1,1,0
878,0,1,1,1,1,0
879,0,1,1,1,1,0
880,1,1,1,1,1,0
881,1,1,1,1,1,0

In [22]:
priority_df['Total'] = priority_df.sum(axis=1)

In [23]:
priority_df

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score,Total
0,0,1,1,1,1,0,4
1,1,1,1,1,1,0,5
2,1,1,1,1,1,0,5
3,1,1,1,1,1,0,5
4,0,1,1,1,1,0,4
...,...,...,...,...,...,...,...
877,0,1,1,1,1,0,4
878,0,1,1,1,1,0,4
879,0,1,1,1,1,0,4
880,1,1,1,1,1,0,5
881,1,1,1,1,1,0,5

In [24]:
priority_df.Total.value_counts()

0    240
1    217
5    150
4     95
2     89
3     88
6      3
Name: Total, dtype: int64

In [25]:
priority_level = np.where(priority_df.Total >= 4, 1, 0)

In [26]:
priority_df['Priority'] = priority_level

In [33]:
conditions = [
    (priority_df['Contaminant_Score'] == 1) & (priority_df['Priority'] == 1),
    (priority_df['Contaminant_Score'] == 0) & (priority_df['Priority'] == 1)
    
]

values = [1 , 0]

In [34]:
priority_df['New_Priority'] = np.select(conditions, values)

In [35]:
priority_df.sample(30)

,Contaminant_Score,Simpson_Race_DI_score,Simpson_Ethnic_DI_score,Shannon_Race_DI_score_score,Shannon_Ethnic_DI_score,Gini_Index_score,Total,Priority,New_Priority
56,0,1,0,1,0,0,2,0,0
112,0,0,0,0,0,0,0,0,0
566,1,0,0,0,0,0,1,0,0
137,1,0,1,1,1,0,4,1,1
422,0,0,1,0,1,0,2,0,0
570,1,0,0,0,0,0,1,0,0
641,1,1,1,1,1,0,5,1,1
545,0,0,0,0,0,0,0,0,0
197,0,1,1,1,1,0,4,1,0
230,0,0,0,0,0,0,0,0,0
856,1,1,1,1,1,0,5,1,1
685,0,0,0,0,0,1,1,0,0
404,0,1,1,1,1,0,4,1,0
440,1,0,0,0,0,0,1,0,0
351,0,1,0,1,0,1,3,0,0
67,0,1,0,1,0,0,2,0,0
727,0,0,1,1,1,0,3,0,0
643,0,1,1,1,1,0,4,1,0
704,0,0,0,0,0,0,0,0,0
553,1,1,0,1,1,0,4,1,1
734,1,1,1,1,1,0,5,1,1
843,1,0,0,0,0,0,1,0,0
763,1,0,0,0,0,0,1,0,0
401,1,0,0,0,0,0,1,0,0
520,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0
617,1,0,0,0,0,0,1,0,0
825,1,0,0,0,0,0,1,0,0
692,0,0,0,0,0,0,0,0,0
155,0,1,1,1,1,0,4,1,0

In [36]:
priority_df.Priority.value_counts()

0    634
1    248
Name: Priority, dtype: int64

In [37]:
priority_df.New_Priority.value_counts()

0    711
1    171
Name: New_Priority, dtype: int64

In [38]:
priority_df.New_Priority.to_csv('new_priority.csv')